* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#toolbar {
    position: absolute;
}

#toolbar > * {
    border: 2px solid lightgrey;
    background-color: gray;
    color: white;
    padding: 1em;
    opacity: 0.5;
    border-radius: 1em;
}

#toolbar > *:hover {
    opacity: 0.7;
}

#closeButton {
    position: absolute;
    right: 1em;
    top: 1em;
    border-radius: 20px;
    padding: 0.5em;
    font-size: 2em;
    text-align: right;
}

#closeButton:hover{
    background-color: lightgrey;
}

#overlay {
    position: absolute;
    background-color: rgba(255,255,255,0.6);
    width: 100vw;
    height: 100vh;
}

#legendContent {
    position: absolute;
}

#projectContent {
    height: 100%;
}

#title {
    text-align: center;
    margin: 10% 0px 2% 0px;
    width: 100vw;
}

#librariesUsed {
    text-align: center;
    margin: 0.5em;
}

#thumbnail {
    max-width: 20em;
    /*height: auto;*/

}

#thumbnailDesc {
    display: flex;
    justify-content: space-around;
}

#data {
    width: 90%;
}

#shortDesc {
    padding: 0.5em;
    text-align: center;
}

#longDesc {
    padding: 0.5em;
}

.show {
    display: block;
}

.hide {
    display: none;
}